{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block bodya %}
    <h1>Aldatu</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('question/_delete_form.html.twig') }}


{% endblock %}