{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


    {% for q in questions %}
        {{ q }}
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(questions) }}
    </div>
{% endblock %}
