{% extends 'base.html.twig' %}

{% block title %}IkasPlay{% endblock %}

{% block main_body %}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron text-center">
                <a href="{{ path('quizz_index') }}">JARRAITU</a>
            </div>
            <div class="jumbotron text-center">
                <a href="{{ path('quizz_new') }}">HASI</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
