{% extends 'base.html.twig' %}

{% block title %}IkasPlay{% endblock %}

{% block main_body %}

    <h3>Aukeratu eta sakati hasi botoia</h3>

    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <form action="{{ path('quizz_by_familly_new') }}" method="post">
            <table class="table table-bordered">
                <thead>
                <th></th>
                <th>Familia</th>
                </thead>
                <tbody>
                {% for familly in famillies %}
                    <tr>
                        <td><label>
                                <input type="checkbox" name="chkSelecion[]" class="chkSelecion" value="{{ familly.id }}">
                            </label></td>
                        <td>{{ familly.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <label for="txtSelection"></label><input type="text" name="selection" id="txtSelection">
            <input type="submit" class="btn btn-primary" value="Hasi">
            </form>
        </div>



        <div class="col-sm"></div>
    </div>



{% endblock %}
