

{% block QuestionType_row %}
    <div class="col-sm">
        {{ form_label(form) }}aaaaaaaaa
        {{ form_errors(form) }}aaaaaaaaaaaaaa
        {{ form_widget(form) }}aaaaaaaaaaa
    </div>aaaaaaaaaaaaaaaaaaaaa
{% endblock %}

{% block QuestionType_widget %}
    {{ form_widget(form) }}aaaaaaaaaaaaaaaaaaaaaaaaa
    <br/>
    <p class="text-center">
        <a href="#" class="collection-up btn btn-default">&lt;</a>
        <a href="#" class="collection-remove btn btn-default">-</a>
        <a href="#" class="collection-add btn btn-default">+</a>
        <a href="#" class="collection-down btn btn-default">&gt;</a>
    </p>
{% endblock %}